DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI='postgresql://user:pass@evolution-postgres:5432/evolution_db?schema=evolution_api'
DATABASE_URL='postgresql://user:pass@evolution-postgres:5432/evolution_db?schema=evolution_api'